<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<typeAlias type="com.lan.tour.model.dto.MemberDto" alias ="memberDto"/>
		<typeAlias type="com.lan.tour.model.dto.HotelDto" alias = "hotelDto"/>
		<typeAlias type="com.lan.tour.model.dto.lantourDto" alias = "lantourDto"/>
	</typeAliases>

	<mappers>
		<mapper resource = "/mybatis/member-mapper.xml"/>
		<mapper resource = "/mybatis/hotel-mapper.xml"/>
		<mapper resource = "/mybatis/lantour-mapper.xml"/>
	</mappers>

</configuration>