<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hotel">

	<select id="hotellist" resultType="hotelDto">
		SELECT HOTEL_NO,
		MEMBER_NO,HOTEL_TYPE,HOTEL_TITLE,HOTEL_CONTENT,HOTEL_REGDATE,
		HOTEL_PRICE,HOTEL_ADDR,HOTEL_IMAGE,HOTEL_CONVINENCE,HOTEL_MAXCOUNT,HOTEL_DATE
		FROM HOTEL
		ORDER BY HOTEL_NO
	</select>
	
	<select id="hotelOne" parameterType="int" resultType="hotelDto">
		SELECT HOTEL_NO,
		MEMBER_NO,HOTEL_TYPE,HOTEL_TITLE,HOTEL_CONTENT,HOTEL_REGDATE,
		HOTEL_PRICE,HOTEL_ADDR,HOTEL_IMAGE,HOTEL_CONVINENCE,HOTEL_MAXCOUNT,HOTEL_DATE
		FROM HOTEL
		WHERE HOTEL_NO = #{hotel_no}
	</select>

	<insert id="hotelinsert" parameterType="hotelDto">
		INSERT INTO HOTEL
		VALUES(HOTEL_NO_SEQ.NEXTVAL,#{member_no},#{hotel_type},#{hotel_title},#{hotel_content},SYSDATE,
		#{hotel_price},#{hotel_addr},#{hotel_image},#{hotel_convinence},#{hotel_maxcount},#{hotel_date})
	</insert>
	
	<delete id="hoteldelete" parameterType="int">
		DELETE FROM HOTEL
		WHERE HOTEL_NO = #{hotel_no}
	</delete>
</mapper>
