<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lantour">
  
  <select id="lantourlist" resultType="lantourDto">
		SELECT LANTOUR_NO, MEMBER_NO, LANTOUR_TITLE, LANTOUR_CONTENT, LANTOUR_REGDATE, LANTOUR_RTC, LANTOUR_ADDR, LANTOUR_IMAGE, LANTOUR_MAXCOUNT, LANTOUR_PRICE, LANTOUR_DATE
		FROM LANTOUR
		ORDER BY LANTOUR_NO DESC
	</select>
	
	<select id="lantourOne" parameterType="int" resultType="lantourDto">
		SELECT LANTOUR_NO, MEMBER_NO, LANTOUR_TITLE, LANTOUR_CONTENT, LANTOUR_REGDATE, LANTOUR_RTC, LANTOUR_ADDR, LANTOUR_IMAGE, LANTOUR_MAXCOUNT, LANTOUR_PRICE, LANTOUR_DATE
		FROM LANTOUR
		WHERE LANTOUR_NO = #{lantour_no}
	</select>
	
	<insert id="lantourinsert" parameterType="lantourDto">
		INSERT INTO LANTOUR 
		VALUES (LANTOUR_NO_SEQ.NEXTVAL,#{member_no},#{lantour_title},#{lantour_content}, sysdate, #{lantour_addr}, #{lantour_rtc}, #{lantour_image}, #{lantour_maxcount}, #{lantour_price}, #{lantour_date})
	</insert>
	
	<delete id="lantourdelete" parameterType="int">
		DELETE FROM LANTOUR
		WHERE LANTOUR_NO = #{lantour_no} 
	</delete>
	
	<update id="rtcupdate" parameterType="lantourDto">
		UPDATE LANTOUR
		SET LANTOUR_RTC = #{lantour_rtc} 
		WHERE LANTOUR_NO = #{lantour_no}
	</update>
	
</mapper>
