<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lantour">

	<select id="lantour_selectlist" parameterType="LantourPagingDto" resultType="lantourDto">
			SELECT X.RNUM, X.LANTOUR_NO, X.MEMBER_NO, X.LANTOUR_TITLE, X.LANTOUR_CONTENT, X.LANTOUR_DATE
			FROM(
			SELECT ROWNUM AS RNUM, A.LANTOUR_NO, A.MEMBER_NO, A.LANTOUR_TITLE, A.LANTOUR_CONTENT, A.LANTOUR_DATE
			FROM 
			(SELECT LANTOUR_NO, MEMBER_NO, LANTOUR_TITLE, LANTOUR_CONTENT, LANTOUR_DATE
			FROM LANTOUR
			ORDER BY LANTOUR_NO DESC) A
			WHERE ROWNUM <![CDATA[<=]]> #{pageEnd}) X
			WHERE X.RNUM <![CDATA[>=]]> #{pageBegin}
		</select>
	<select id="listAll" parameterType="hashMap" resultType="lantourDto">
		select *
        from (
            select rownum as rn, A.*
            from ( SELECT LANTOUR_NO, MEMBER_NO, LANTOUR_TITLE, LANTOUR_CONTENT, LANTOUR_DATE FROM LANTOUR
            ) A
        ) where rn between #{start} and #{end} 
	</select>	
		
	<select id="lantourlist" parameterType="LantourPagingDto" resultType="lantourDto">
		SELECT LANTOUR_NO, MEMBER_NO, LANTOUR_TITLE, LANTOUR_CONTENT, LANTOUR_DATE
		FROM LANTOUR
		ORDER BY LANTOUR_NO DESC
	</select>
	
	
	<select id="lantour_selectlist_title" parameterType="LantourPagingDto" resultType="lantourDto">
		SELECT X.RNUM, X.LANTOUR_NO, X.MEMBER_NO, X.LANTOUR_TITLE, X.LANTOUR_CONTENT, X.LANTOUR_DATE
		FROM(
		SELECT ROWNUM AS RNUM, A.LANTOUR_NO, A.MEMBER_NO, A.LANTOUR_TITLE, A.LANTOUR_CONTENT, A.LANTOUR_DATE
		FROM 
		(SELECT LANTOUR_NO, MEMBER_NO, LANTOUR_TITLE, LANTOUR_CONTENT, LANTOUR_DATE
		FROM LANTOUR
		WHERE LANTOUR_TITLE LIKE '%'||#{keyword}||'%'
		ORDER BY LANTOUR_NO DESC) A
		WHERE ROWNUM <![CDATA[<=]]> #{pageEnd}) X
		WHERE X.RNUM <![CDATA[>=]]> #{pageBegin}
	</select>
	
	<select id="lantour_selectlist_content" parameterType="LantourPagingDto" resultType="lantourDto">
		SELECT X.RNUM, X.LANTOUR_NO, X.MEMBER_NO, X.LANTOUR_TITLE, X.LANTOUR_CONTENT, X.LANTOUR_DATE
		FROM(
		SELECT ROWNUM AS RNUM, A.LANTOUR_NO, A.MEMBER_NO, A.LANTOUR_TITLE, A.LANTOUR_CONTENT, A.LANTOUR_DATE
		FROM 
		(SELECT LANTOUR_NO, MEMBER_NO, LANTOUR_TITLE, LANTOUR_CONTENT, LANTOUR_DATE
		FROM LANTOUR
		WHERE LANTOUR_CONTENT LIKE '%'||#{keyword}||'%'
		ORDER BY LANTOUR_NO DESC) A
		WHERE ROWNUM <![CDATA[<=]]> #{pageEnd}) X
		WHERE X.RNUM <![CDATA[>=]]> #{pageBegin}
	</select>
	
	<select id="lantour_selectlist_title_content" parameterType="LantourPagingDto" resultType="lantourDto">
		SELECT X.RNUM, X.LANTOUR_NO, X.MEMBER_NO, X.LANTOUR_TITLE, X.LANTOUR_CONTENT, X.LANTOUR_DATE
		FROM(
		SELECT ROWNUM AS RNUM, A.LANTOUR_NO, A.MEMBER_NO, A.LANTOUR_TITLE, A.LANTOUR_CONTENT, A.LANTOUR_DATE
		FROM 
		(SELECT LANTOUR_NO, MEMBER_NO, LANTOUR_TITLE, LANTOUR_CONTENT, LANTOUR_DATE
		FROM LANTOUR
		WHERE (
		LANTOUR_TITLE LIKE '%'||#{keyword}||'%' OR
		LANTOUR_CONTENT LIKE '%'||#{keyword}||'%'
		)
		ORDER BY LANTOUR_NO DESC) A
		WHERE ROWNUM <![CDATA[<=]]> #{pageEnd}) X
		WHERE X.RNUM <![CDATA[>=]]> #{pageBegin}
	</select>
	
	<select id="lantour_countT" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM LANTOUR
		WHERE LANTOUR_TITLE LIKE '%'||#{keyword}||'%'
	</select>

	<select id="lantour_countC" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM LANTOUR
		WHERE LANTOUR_CONTENT LIKE '%'||#{keyword}||'%'
	</select>
	
 	<select id="lantour_countTotal" resultType="int">
		SELECT COUNT(*)
		FROM LANTOUR
	</select>

  <select id="lantourlist_member" resultType="lantourDto">
		SELECT LANTOUR_NO, MEMBER_NO, LANTOUR_TITLE, LANTOUR_CONTENT, LANTOUR_REGDATE, LANTOUR_RTC, LANTOUR_ADDR, LANTOUR_IMAGE, LANTOUR_MAXCOUNT, LANTOUR_PRICE, LANTOUR_DATE
		FROM LANTOUR
		WHERE MEMBER_NO = #{member_no}
		ORDER BY LANTOUR_NO DESC
	</select>
	
	
	<select id="lantourOne" parameterType="int" resultType="lantourDto">
		SELECT LANTOUR_NO, MEMBER_NO, LANTOUR_TITLE, LANTOUR_CONTENT, LANTOUR_REGDATE, LANTOUR_RTC, LANTOUR_ADDR, LANTOUR_IMAGE, LANTOUR_MAXCOUNT, LANTOUR_PRICE, LANTOUR_DATE
		FROM LANTOUR
		WHERE LANTOUR_NO = #{lantour_no}
	</select>
	
	<insert id="lantourinsert" parameterType="lantourDto">
		INSERT INTO LANTOUR 
		VALUES (LANTOUR_NO_SEQ.NEXTVAL,#{member_no},#{lantour_title},#{lantour_content}, sysdate, #{lantour_rtc}, #{lantour_addr}, #{lantour_image}, #{lantour_maxcount}, #{lantour_price}, #{lantour_date})
	</insert>
	
	<delete id="lantourdelete" parameterType="int">
		DELETE FROM LANTOUR
		WHERE LANTOUR_NO = #{lantour_no} 
	</delete>
	
	<update id="lantourupdate" parameterType="lantourDto">
		UPDATE LANTOUR
		SET LANTOUR_TITLE =#{lantour_title}, LANTOUR_CONTENT = #{lantour_content}, LANTOUR_RTC = #{lantour_rtc}, LANTOUR_ADDR = #{lantour_addr}, LANTOUR_IMAGE = 'a', LANTOUR_MAXCOUNT = #{lantour_maxcount}, LANTOUR_PRICE = #{lantour_price}, LANTOUR_DATE = #{lantour_date},LANTOUR_REGDATE= sysdate
		WHERE LANTOUR_NO = #{lantour_no}
	</update>
	
	<update id="rtcupdate" parameterType="lantourDto">
		UPDATE LANTOUR
		SET LANTOUR_RTC = #{lantour_rtc} 
		WHERE LANTOUR_NO = #{lantour_no}
	</update>

	<select id="lantourchart" resultType="lantourDto">
		select count(*) as
		count,TO_CHAR(LANTOUR_REGDATE,'YYYY-MM-DD') as regdate 
		from LANTOUR 
		group by TO_CHAR(LANTOUR_REGDATE,'YYYY-MM-DD') 
		order by TO_CHAR(LANTOUR_REGDATE,'YYYY-MM-DD')
	</select>
	
	<update id="disableFK">
      		ALTER TABLE RESERVATION DISABLE CONSTRAINT RESERVATION_LANTOUR_NO_FK
	</update>
	<update id="enableFK">
      		ALTER TABLE RESERVATION ENABLE CONSTRAINT RESERVATION_LANTOUR_NO_FK
	</update>
	<delete id="deleteByMemberNo">
				DELETE FROM LANTOUR WHERE MEMBER_NO = #{member_no}
	</delete>
	
</mapper>
