<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="notice">

	<select id="notice_selectlist" resultType="noticeDto">
		SELECT NOTICE_NO, MEMBER_NO, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_DATE
		FORM NOTICE
		ORDER BY NOTICE_NO DESC
	</select>
	
	<select id="notice_selectOne" parameterType="int" resultType="noticeDto">
		SELECT NOTICE_NO, MEMBER_NO, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_DATE
		FORM NOTICE
		WHERE NOTICE_NO = #{notice_no}
	</select>
	
	<insert id="notice_insert" parameterType="noticeDto">
		INSERT INTO NOTICE 
		VALUES (NOTICE_NO_SEQ.NEXTVAL,#{member_no},#{notice_title},#{notice_content},sysdate)
	</insert>
	
	<delete id="notice_delete" parameterType="int">
		DELETE FROM NOTICE
		WHERE NOTICE_NO = #{notice_no} 
	</delete>
	
	<update id="notice_update" parameterType="int">
		UPDATE NOTICE
		SET NOTICE_TITLE = #{notice_title} , NOTICE_CONTENT = #{notice_content}
	</update>
	
	

</mapper>
