<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="review">

	<select id="select_hotel" parameterType="int"
		resultType="ReviewDto">
		SELECT REVIEW_NO , HOTEL_NO,
		MEMBER_NO, REVIEW_DATE, REVIEW_TITLE, REVIEW_SCORE
		FROM REVIEW
		WHERE
		HOTEL_NO = #{hotel_no}
	</select>

	<select id="select_lantour" parameterType="int"
		resultType="ReviewDto">
		SELECT REVIEW_NO , LANTOUR_NO,
		MEMBER_NO,REVIEW_DATE,REVIEW_TITLE,REVIEW_SCORE
		FROM REVIEW
		WHERE
		LANTOUR_NO = #{lantour_no}
	</select>


	<select id="select_one_hotel" parameterType="int"
		resultType="ReviewDto">
		SELECT REVIEW_NO , HOTEL_NO,
		MEMBER_NO,REVIEW_DATE,REVIEW_TITLE,REVIEW_SCORE
		FROM REVIEW
		WHERE
		REVIEW_NO = #{REVIEW_NO}
	</select>
	<select id="select_one_lantour" parameterType="int"
		resultType="ReviewDto">
		SELECT REVIEW_NO , LANTOUR_NO,
		MEMBER_NO,REVIEW_DATE,REVIEW_TITLE,REVIEW_SCORE
		FROM REVIEW
		WHERE
		REVIEW_NO = #{REVIEW_NO}
	</select>

	<insert id="insert_hotel" parameterType="ReviewDto">
		INSERT INTO REVIEW
		VALUES
		(REVIEW_NO_SEQ.NEXTVAL, #{hotel_no}, NULL, #{member_no}, SYSDATE, #{review_title}, #{review_score})
	</insert>
	
	<insert id="insert_lantour" parameterType="ReviewDto">
		INSERT INTO REVIEW
		VALUES
		(REVIEW_NO_SEQ.NEXTVAL,NULL,#{lantour_no},#{member_no},SYSDATE,#{review_title},#{review_score})
	</insert>
	
	<update id="update_review" parameterType="ReviewDto">
		UPDATE REVIEW SET REVIEW_TITLE=#{review_title}, REVIEW_SCORE=#{review_score} WHERE REVIEW_NO = #{review_no} 
	</update>
	
	<delete id="delete_review" parameterType="int">
		DELETE FROM REVIEW WHERE REVIEW_NO = #{review_no}
	</delete>
	
	
	
	
</mapper>
