<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="review">

	<select id="select_room" parameterType="int"
		resultType="ReviewDto">
		SELECT REVIEW_NO , ROOM_NO, LANTOUR_NO,
		MEMBER_NO,REVIEW_DATE,REVIEW_TITLE,REVIEW_SCORE
		FROM REVIEW
		WHERE
		ROOM_NO = #{room_no}
	</select>

	<select id="select_lantour" parameterType="int"
		resultType="ReviewDto">
		SELECT REVIEW_NO , ROOM_NO, LANTOUR_NO,
		MEMBER_NO,REVIEW_DATE,REVIEW_TITLE,REVIEW_SCORE
		FROM REVIEW
		WHERE
		LANTOUR_NO = #{lantour_no}
	</select>

	<insert id="insert_room" parameterType="ReviewDto">
		INSERT INTO REVIEW
		VALUES
		(REVIEW_NO_SEQ.NEXTVAL,#{room_no},NULL,#{member_no},SYSDATE,#{review_title},#{review_score})
	</insert>
	<insert id="insert_room" parameterType="ReviewDto">
		INSERT INTO REVIEW
		VALUES
		(REVIEW_NO_SEQ.NEXTVAL,NULL,#{lantour_no},#{member_no},SYSDATE,#{review_title},#{review_score})
	</insert>
</mapper>
